:host {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

* {
	box-sizing: border-box;
}

.example-container {
	color: white;
	width: 100%;
	max-width: 800px;
	height: fit-content;
	display: flex;
	align-items: center;
	flex-direction: column;
}
