

:host {
    display: block;
    border-radius: 0 0 var(--fkt-radius-md) var(--fkt-radius-md);
    background-color: var(--fkt-controls-table-background);
    overflow: auto;
    height: 600px;
    transition: var(--fkt-transition-base);
    border-top: solid 1px var(--fkt-color-neutral-300);
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--fkt-controls-table-border-color);
    align-items: center;
    padding: var(--fkt-space-xs) var(--fkt-space-md);

    .actions {
        display: flex;
    }
}

.scopes-container {
    display: flex;
    gap: var(--fkt-space-xs);
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    overflow: auto;

    .scope {
        position: relative;
        outline: none;
        padding: .5rem .75rem;
        font-weight: var(--fkt-font-semibold);
        background: transparent;
        color: var(--fkt-controls-table-component-text-color);
        border-radius: var(--fkt-radius-full);
        font-size: var(--fkt-font-size-sm);
        cursor: pointer;
        border: none;

        &.active {
            background-color: var(--fkt-controls-table-component-active-bg);
            color: var(--fkt-controls-table-component-active-text-color);
        }

        &:focus-visible {
            box-shadow: var(--fkt-focus-ring-shadow);
        }

        &:hover:not(.active) {
            background-color: rgb(from var(--fkt-color-primary) r g b / .2);
        }
    }
}

.anatomy {
    position: absolute;
    z-index: 100000;

    --anatomy-color: var(--fkt-color-danger);

    .range {
        box-sizing: border-box;
        border: solid 1px var(--anatomy-color);
        background: rgb(from var(--anatomy-color) r g b / 0.1);
        border-radius: 0;
    }

    .label {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        font-size: var(--fkt-font-size-sm);
        background: var(--anatomy-color);
        color: white;
        padding: var(--fkt-space-4xs) var(--fkt-space-xs);
        font-weight: var(--fkt-font-semibold);
        border-radius: var(--fkt-radius-md) var(--fkt-radius-md) 0 0;
    }
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--fkt-space-md);
    padding: var(--fkt-space-md);

    max-height: 500px;
    overflow-y: auto;
}
