:host {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    color: var(--fkt-color-neutral-950);
    padding: 1rem;
    box-sizing: border-box;

    --fkt-input-vertical-padding: var(--fkt-space-sm);
    --fkt-input-horizontal-padding: var(--fkt-space-md);
    --fkt-input-font-size: var(--fkt-font-size-sm);
    --fkt-input-border-radius: var(--fkt-radius-md);
}

.gallery {
    width: 572px;
    display: flex;
    flex-direction: column;
    gap: var(--fkt-space-md);
    align-items: center;

    &__item {
        display: flex;
        flex-wrap: wrap;
        max-height: 450px;
        overflow-y: auto;
        gap: var(--fkt-space-md);
        align-items: center;
    }
}
