h4 {
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
	gap: var(--fkt-space-xl);

	.container__title {
		font-size: var(--fkt-font-size-lg);
		font-weight: var(--fkt-font-semibold);
		width: 100%;
		text-align: center;
	}

	.container__list {
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		gap: 2rem;
	}

	.container__item {
		display: flex;
		flex-direction: column;
		gap: var(--fkt-space-sm);
	}

	.container__item-title {
		width: 100%;
		font-weight: 600;
		text-align: center;
		color: var(--fkt-color-neutral-700);
	}

	.container__item-buttons {
		display: flex;
		gap: var(--fkt-space-sm);
		justify-content: center;
	}

	.container__item-cols {
		display: flex;
		flex-direction: column;
		gap: var(--fkt-space-xs);
	}
}
