p {
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
	gap: var(--fkt-space-md);

	&__info {
		font-size: var(--fkt-font-size-sm);
		color: var(--fkt-color-neutral-600);

		& > div {
			display: flex;
			align-items: center;
			margin: var(--fkt-space-3xs) 0;
			gap: var(--fkt-space-2xs);
		}

		&--valid {
			color: var(--fkt-color-success);
		}

		&--invalid {
			color: var(--fkt-color-danger);
		}
	}

	&__text {
		font-size: var(--fkt-font-size-xs);
		color: var(--fkt-color-neutral-500);
	}
}
