.files-source {
	pre.prismjs, code.prismjs {
		border-radius: 0 !important;
		max-height: 800px;
		overflow-y: auto;
	}

	.files-source__code {
		position: relative;
		--fkt-button-padding-vertical: var(--fkt-space-2xs);
		--fkt-button-padding-horizontal: var(--fkt-space-sm);
		--fkt-button-content-gap: var(--fkt-space-3xs);
		--fkt-button-primary-color: white;
		--fkt-button-on-primary-color: black;
		--fkt-button-primary-hover-color: #b2b2b2;
		--fkt-font-size-md: 14px;

		fkt-button {
			position: absolute;
			cursor: pointer;
			top: 0;
			right: 0;
			margin: 1rem;

			span, p {
				color: black;
			}

			p {
				font-weight: var(--fkt-font-semibold);
				margin: 0;
			}

			.frakton-icon {
				font-size: var(--fkt-font-size-md);
			}

			&.files-source__button--copied {
				background-color: var(--fkt-color-success);
				color: var(--fkt-color-on-success);
				border-color: var(--fkt-color-success);

				p, span {
					color: white;
				}

				&:hover {
					background-color: var(--fkt-color-success-hover);
					color: var(--fkt-color-on-success);
					border-color: var(--fkt-color-success-hover);
				}
			}
		}
	}

	.files-source__tabs {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height: 40px;

		button {
			background-color: #242A35;
			font-weight: var(--fkt-font-semibold);
			width: 100%;
			height: 100%;
			color: #1e1e1e;
			padding: 0 .8rem;
			font-size: .8rem !important;
			transition: background-color 100ms;
			border: none;
			border-right: solid 1px #374151;
			position: relative !important;
			cursor: pointer !important;
			border-bottom: solid 1px #374151;
			display: flex;
			justify-content: center;
			gap: var(--fkt-space-xs);
			align-items: center;


			&:hover {
				background-color: #374151;
			}

			p {
				margin: 0;
				max-width: 260px;
				overflow: hidden;
				text-overflow: ellipsis;
				color: white;
				white-space: nowrap;
			}

			&.active {
				border-bottom: solid 2px #FED75F;

				p {
					color: #FED75F;
				}
			}
		}
	}
}
