.actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--fkt-space-md);
}

fkt-table {
  background-color: var(--fkt-color-neutral-100);
  --fkt-table-max-height: 600px;
}

app-code-output {
  margin-top: var(--fkt-space-md);
}