* {
	box-sizing: border-box;
}

.collapsible-side-menu-example {
	height: 100%;
	width: 100%;
	display: flex;

	&__content {
		padding: 24px;
		background-color: var(--fkt-color-neutral-background);
		width: 100%;
		height: 100%;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 24px;
	}

	&__title {
		margin: 0;
		font-size: 24px;
		font-weight: 600;
	}

	&__description {
		margin: 0;
		color: var(--fkt-color-neutral-600);
		line-height: 1.6;
	}
}
