.copy-button {
    --fkt-button-padding-vertical: var(--fkt-space-2xs);
    --fkt-button-padding-horizontal: var(--fkt-space-sm);
    --fkt-button-content-gap: var(--fkt-space-3xs);
    --fkt-button-primary-color: white;
    --fkt-button-primary-hover-color: #b2b2b2;
    --fkt-button-icon-font-weight: 500;
    --fkt-font-size-md: 14px;
}
