* {
	box-sizing: border-box;
}

h3, h4, p {
	margin: 0;
}

hr {
	border: none;
	border-bottom: solid 1px var(--fkt-color-neutral-300);
	margin: 0;
}

:host {
	box-shadow: var(--fkt-shadow-md);
	padding: var(--fkt-space-md);
	border: 1px solid var(--fkt-color-neutral-200);
	border-radius: var(--fkt-radius-md);
	display: block;
}

.header {
	border-radius: var(--fkt-radius-lg);
	display: flex;
	flex-direction: column;
	gap: var(--fkt-space-sm);
	margin-bottom: var(--fkt-space-md);

	&__title {
		font-weight: var(--fkt-font-semibold);
		font-size: var(--fkt-font-size-lg);
	}

	&__info {
		display: flex;
		align-items: center;
		gap: var(--fkt-space-md);

		span {
			display: flex;
			align-items: center;
			gap: var(--fkt-space-xs);
		}
	}

	&__description {
		font-size: var(--fkt-font-size-sm);
		color: var(--fkt-color-neutral-600);
	}
}

.actions {
	display: flex;
	margin-top: var(--fkt-space-md);
	gap: var(--fkt-space-xs);
	justify-content: flex-end;
}
