.numeric-control {
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  width: fit-content;

  fkt-icon {
    background-color: var(--fkt-color-neutral-200);
    color: var(--fkt-controls-table-numeric-control-color);
    cursor: pointer;
    font-weight: var(--fkt-font-semibold);
    padding: 0 .25rem;
    transition: var(--fkt-transition-base);
    --fkt-icon-stroke-width: 2.5;
    --fkt-icon-size-sm: .6rem;

    &:hover {
      background-color: var(--fkt-color-neutral-300);
    }
  }
}
