* {
	box-sizing: border-box;
}
p {
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
	gap: var(--fkt-space-xs);

	&__card {
		display: flex;
		position: relative;
		gap: var(--fkt-space-3xs);
		padding: var(--fkt-space-xs);
		border-radius: var(--fkt-radius-md);
		width: 120px;
		height: 130px;
		overflow: hidden;
		justify-content: center;
		border: solid 1px var(--fkt-color-neutral-400);
		align-items: center;
		flex-direction: column;

		&-icon {
			font-size: var(--fkt-font-size-xl);
		}

		&-copied {
			color: var(--fkt-color-success);
			font-weight: var(--fkt-font-weight-semibold);
			font-size: var(--fkt-font-size-md);
		}

		&-actions-container {
			position: absolute;
			display: flex;
			opacity: 0;
			pointer-events: none;
			cursor: auto;
			transition: var(--fkt-transition-base);
			flex-direction: column;
			width: 100%;
			padding: var(--fkt-space-3xs);
			align-items: center;
			justify-content: center;
			height: 100%;

			&--visible {
				opacity: 1;
				pointer-events: auto !important;
				cursor: pointer;
			}
		}

		&-actions-list {
			display: flex;
			flex-direction: column;
			gap: var(--fkt-space-xs);
			width: 100%;
			height: 100%;
		}

		&-action {
			background-color: var(--fkt-color-neutral-400);
			cursor: pointer;
			transition: var(--fkt-transition-base);
			font-size: var(--fkt-font-size-sm);
			height: 100%;
			border-radius: var(--fkt-radius-md);
			display: flex;
			justify-content: center;
			font-weight: var(--fkt-font-weight-semibold);
			align-items: center;
			width: 100%;
		}
	}

	&__icon-name {
		font-size: var(--fkt-font-size-sm);
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 100px;
	}
}
