:host {
    display: flex;
    align-items: flex-end;
    gap: var(--fkt-space-xl);
}

div {
    display: grid;
    justify-items: center;
    gap: var(--fkt-space-xs);
}

.token-icon {
    --fkt-icon-size-md: 2rem;
    --fkt-icon-color: var(--fkt-color-warning);
    --fkt-icon-stroke-width: 2;
}

.direct-icon {
    color: var(--fkt-color-danger);
    font-size: 2rem;
}

span {
    color: var(--fkt-color-neutral-700);
    font-size: var(--fkt-font-size-sm);
}
