:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--fkt-space-md);
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 900px;

  td, th {
    padding: var(--fkt-space-xs);
    text-align: center;
    border: solid 1px var(--fkt-color-neutral-300);

    &.appearance {
      font-weight: var(--fkt-font-semibold);
      text-align: right;
      font-size: var(--fkt-font-size-sm);
    }
  }
}
