:host {
	display: flex;
	flex-direction: column;
	gap: var(--fkt-space-md);
}

.info {
	padding: var(--fkt-space-md);
	background-color: var(--fkt-color-info-opacity-10);
	color: var(--fkt-color-neutral-700);
	border-radius: var(--fkt-radius-md);
	font-size: var(--fkt-font-size-sm);
}

fkt-select {
    width: fit-content;
}
