:host {
  display: grid;
  gap: var(--fkt-space-sm);
  align-items: start;
  justify-items: start;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: var(--fkt-space-xs);
  gap: var(--fkt-space-sm);
  width: 300px;

  fkt-field, fkt-checkbox {
    width: 100%;
  }
}

h3 {
  margin: 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--fkt-space-xs);
}

pre {
  margin: 0;
  padding: var(--fkt-space-sm);
  color: var(--fkt-color-accent);
  background: var(--fkt-color-primary);
  border-radius: var(--fkt-radius-lg);
}

app-code-output {
  width: 100%;
}
