.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.container__list {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}

	.container__title {
		font-weight: var(--fkt-font-semibold);
		font-size: var(--fkt-font-size-lg);
	}
}
