.container {
	display: flex;
	flex-direction: column;
	gap: var(--fkt-space-2xl);

	&__table {
		h3 {
			font-size: var(--fkt-font-size-lg);
			font-weight: var(--fkt-font-semibold);
			margin-bottom: var(--fkt-space-md);
			color: var(--fkt-color-neutral-800);
		}
	}
}

:host ::ng-deep {
	.table-task-completed {
		background-color: var(--fkt-color-success-opacity-10);

		&:hover {
			background-color: var(--fkt-color-success-opacity-20) !important;
		}
	}

	.table-task-in-progress {
		background-color: #155DFC14;

		&:hover {
			background-color: var(--fkt-color-info-opacity-20) !important;
		}
	}

	.table-task-cancelled {
		background-color: var(--fkt-color-danger-opacity-10);

		&:hover {
			background-color: var(--fkt-color-danger-opacity-20) !important;
		}
	}

	.table-product-no-stock {
		background-color: var(--fkt-color-danger-opacity-10);

		&:hover {
			background-color: var(--fkt-color-danger-opacity-20) !important;
		}
	}

	.table-product-discontinued {
		background-color: var(--fkt-color-neutral-100);
		opacity: 60%;
		filter: grayscale(1);
		cursor: pointer;
		pointer-events: none;

		&:hover {
			background-color: var(--fkt-color-neutral-100) !important;
		}
	}
}

fkt-table {
	background-color: var(--fkt-color-neutral-100);
}

