.container {
	display: flex;
	flex-direction: column;
	gap: var(--fkt-space-md);

	&__content {
		text-align: center;
		font-size: var(--fkt-font-size-lg);
		font-weight: var(--fkt-font-medium);
	}
}
