* {
	box-sizing: border-box;
}

h3, h4, p {
	margin: 0;
}

hr {
	border: none;
	border-bottom: solid 1px var(--fkt-color-neutral-300);
	margin: 0;
}

.container {
	padding: var(--fkt-space-md);
	display: flex;
	flex-direction: column;
	gap: var(--fkt-space-md);
	min-width: 20rem;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		& > div {
			display: flex;
			align-items: center;
			gap: var(--fkt-space-xs);
		}

		&-icon {
			color: var(--fkt-color-neutral-600);
		}

		&-title {
			color: var(--fkt-color-neutral-900);
			font-size: var(--fkt-font-size-lg);
			font-weight: var(--fkt-font-semibold);
		}
	}

	&__description {
		font-size: var(--fkt-font-size-sm);
		color: var(--fkt-color-neutral-600);
	}

	&__counter {
		border-radius: var(--border-radius-lg);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--fkt-space-xs);

		&-title {
			margin-bottom: var(--fkt-space-xs);
			display: flex;
			gap: var(--fkt-space-xs);
			align-items: center;

			h4 {
				font-size: var(--fkt-font-size-md);
				font-weight: var(--fkt-font-semibold);
				color: var(--fkt-color-neutral-700);
			}
		}

		&-actions {
			display: flex;
			gap: var(--fkt-space-xs);
		}
	}

	&__items {
		display: flex;
		flex-direction: column;
		gap: var(--fkt-space-xs);

		&-title {
			font-size: var(--fkt-font-size-md);
			font-weight: var(--fkt-font-semibold);
			color: var(--fkt-color-neutral-700);
		}

		&-list {
			max-height: 12rem;
			overflow-y: auto;
			display: flex;
			flex-direction: column;
			gap: var(--fkt-space-xs);
		}

		&-item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: var(--fkt-space-xs) var(--fkt-space-sm);
			border: solid 1px var(--fkt-color-neutral-300);
			border-radius: var(--fkt-radius-md);

			span {
				font-size: var(--fkt-font-size-sm);
			}
		}
	}

	&__items-actions {
		display: flex;
		gap: var(--fkt-space-xs);
	}

	&__actions {
		display: flex;
		gap: var(--fkt-space-xs);
		justify-content: flex-end;
		padding-top: var(--fkt-space-xs);
	}
}
