/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: 'Inter';
	src: url('/fonts/inter-variable.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body, html {
	padding: 0;
	margin: 0;
}


body {
	height: 100vh;
	width: 100vw;
	font-family: "Inter", sans-serif;
	background-color: var(--fkt-color-neutral-background);
	--fkt-panel-shadow: rgb(179 187 199) 0px 4px 21px 1px;
    --fkt-toolbar-background: #E2E8F066;
    --fkt-mobile-menu-background: rgba(230, 235, 245, 0.9);
    --fkt-color-link: var(--fkt-color-info);
    --fkt-color-link-opacity-20: var(--fkt-color-info-opacity-20);

    scrollbar-width: thin;
    ::-webkit-scrollbar {
        width: 6px;
        background-color: transparent;
        border-radius: var(--fkt-radius-full);
    }

    ::-webkit-scrollbar:hover {
        background: var(--fkt-color-neutral-300);
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--fkt-color-neutral-400);
        border-radius: var(--fkt-radius-full);
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--fkt-color-neutral-500);
        width: 10px;
    }
}


body[data-fkt-theme="dark"] {
	--fkt-panel-shadow: rgb(24, 27, 32) 0px 4px 21px 1px;
	--fkt-toolbar-background: #1F232966;
	--fkt-mobile-menu-background: rgba(31, 35, 41, 0.8);

    --fkt-color-link: var(--fkt-color-accent);
    --fkt-color-link-opacity-20: var(--fkt-color-accent-opacity-20);
}

.show-xs, .show-md, .show-sm {
    display: none !important;
}

@media (screen and max-width: 1200px) {
    .hide-md {
        display: none !important;
    }

    .show-md {
        display: block !important;
    }
}

@media (screen and max-width: 650px) {
    .hide-sm {
        display: none !important;
    }

    .show-sm {
        display: block !important;
    }
}

@media (screen and max-width: 460px) {
    .hide-xs {
        display: none !important;
    }

    .show-xs {
        display: block !important;
    }
}

@media (screen and max-width: 400px) {
    .hide-2xs {
        display: none !important;
    }

    .show-2xs {
        display: block !important;
    }
}
