p {
	margin: 0;
}

* {
	box-sizing: border-box;
}

hr {
	border: none;
	border-bottom: solid 1px var(--fkt-color-neutral-300);
	margin: 0;
}

.example-container {
	width: 100%;

	h3 {
		margin-bottom: 0.5rem;
		color: var(--color-text-primary);
	}

	.description {
		margin-bottom: 1rem;
		color: var(--color-text-secondary);
		font-size: 0.875rem;
	}

	.selected-option {
		margin-top: var(--fkt-space-xs);
		padding: var(--fkt-space-sm);
		border-radius: var(--fkt-radius-md);
		font-size: var(--fkt-font-size-sm);
		box-shadow: var(--fkt-shadow-md);
		border: 1px solid var(--fkt-color-neutral-200);
		display: flex;
		flex-direction: column;
		gap: var(--fkt-space-xs);

		.info {
			display: flex;
			flex-direction: column;
			gap: var(--fkt-space-xs);
		}

		.title {
			display: flex;
			flex-direction: column;
		}
	}
}
