:root {
	--fkt-storybook-shadow: rgb(179 187 199) 0px 4px 21px 1px;
	--fkt-storybook-toolbar-background: rgb(241, 245, 249);
}

body, html {
	background-color: rgb(226, 232, 240);
}

[data-fkt-theme="dark"] {
	--fkt-storybook-shadow: rgb(24, 27, 32) 0px 4px 21px 1px;
	--fkt-storybook-toolbar-background: rgb(36, 42, 53);

	body, html {
		background-color: rgb(31, 35, 41);
	}
}


.fkt-storybook-wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;

	.fkt-storybook-wrapper__version-tag {
		display: flex;
		align-items: center;
		color: var(--fkt-color-warning);
		border: solid 1px var(--fkt-color-warning);
		padding: .5rem;
		box-sizing: border-box;
		white-space: nowrap;
		border-radius: var(--fkt-radius-md);
		font-size: var(--fkt-font-size-sm);
		font-weight: var(--fkt-font-semibold);
	}

	.fkt-warning-notes {
		background-color: var(--fkt-color-warning-opacity-10);
		padding: var(--fkt-space-md);
		box-sizing: border-box;
		border-radius: var(--fkt-radius-md);
		border: solid 1px var(--fkt-color-warning-opacity-30);
		display: flex;
		align-items: center;
		gap: var(--fkt-space-xs);
		color: var(--fkt-color-neutral-900);
		margin-top: var(--fkt-space-xl);

		.fkt-warning-notes__title {
			margin-bottom: var(--fkt-space-md);
			display: block;
		}

		.fkt-warning-notes__want-contribute {
			margin-top: 1rem;
		}

		.frakton-icon {
			font-size: 36px;
		}

		p {
			margin: 0;
		}

		a {
			color: var(--fkt-color-warning);
			font-weight: var(--fkt-font-semibold);
			border-bottom: solid 1px transparent;
			transition: var(--fkt-transition-base);

			&:hover {
				border-color: var(--fkt-color-warning);
			}
		}

	}

	.fkt-storybook-wrapper__toolbar {
		background-color: var(--fkt-storybook-toolbar-background);
		width: 100%;
		box-shadow: var(--fkt-storybook-shadow);
		transition: .3s ease;
		display: flex;
		justify-content: flex-end;
		box-sizing: border-box;
		padding: .5rem 1rem;
		z-index: 20000;


		.fkt-storybook-wrapper__actions {
			display: flex;
			gap: .5rem;
		}

		button, a {
			background: transparent;
			color: var(--fkt-color-neutral-800);
			padding: .3rem;
			transition: var(--fkt-transition-base);
			border-radius: var(--fkt-radius-md);
			cursor: pointer;
			border: solid 1px var(--fkt-color-neutral-400);
			box-sizing: border-box;
			min-height: 0;
			aspect-ratio: 1;

			&:hover {
				background-color: var(--fkt-color-neutral-800);
				color: var(--fkt-color-neutral-50);
			}
		}

		a span {
			width: 20px;
		}

		button span {
			font-size: 1.25rem;
		}
	}

	.fkt-storybook-wrapper__container {
		flex: 1;
		width: 100%;
		display: flex;
		justify-content: center;
		max-height: 100vh;
		overflow-y: auto;
		padding: 3rem 20px;
		box-sizing: border-box;
	}

	.fkt-storybook-wrapper__content {
		display: flex;
		width: 100%;
		transition: .3s background-color;
		justify-content: center;
		gap: 2rem;
		height: fit-content;

		--content-width: 1200px;
		--half-content-width: calc(var(--content-width) / 2);
		--aside-padding: 1rem;

		aside {
			position: fixed;
			top: 8rem;
			height: fit-content;
			width: 100%;
			left: calc(50% + var(--half-content-width) + var(--aside-padding));
		}

		main {
			max-width: var(--content-width);
			width: 100%;
		}
	}
}

