.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--fkt-space-md);

	&__info {
		font-size: var(--fkt-font-size-sm);
		color: var(--fkt-color-neutral-600);
		background-color: #155DFC14;
		padding: var(--fkt-space-sm);
		border-radius: var(--border-radius-md);

		&-text {
			font-weight: var(--fkt-font-medium);
		}
	}

	&__hint {
		font-size: var(--fkt-font-size-sm);
		color: var(--fkt-color-neutral-600);
	}
}
