:host {
    width: 500px;
    display: flex;
    flex-direction: column;

    --fkt-input-vertical-padding: var(--fkt-space-xs);
    --fkt-input-horizontal-padding: var(--fkt-space-sm);
    --fkt-input-font-size: var(--fkt-font-size-sm);
    --fkt-input-border-radius: var(--fkt-radius-md);

    --fkt-select-vertical-padding: var(--fkt-space-xs);
    --fkt-select-horizontal-padding: var(--fkt-space-sm);
    --fkt-select-font-size: var(--fkt-font-size-sm);
    --fkt-select-border-radius: var(--fkt-radius-md);

    --fkt-table-header-actions-width: 3rem;
    --fkt-table-header-cell-padding: var(--fkt-space-xs);
    color: var(--fkt-color-neutral-900);

    fkt-input {
        width: 200px !important;
    }
}

strong {
    padding: 1rem 1rem 0 1rem;
    width: 100%;
    text-align: center;
    display: block;
    box-sizing: border-box;
}

fkt-divider {
    margin-top: 1rem !important;
}

.table {
    padding: 1rem;
    max-height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: var(--fkt-space-md);
}
