h3, h4 {
	margin: 0;
}

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--fkt-space-md);

	h3 {
		font-size: var(--fkt-font-size-lg);
		font-weight: var(--fkt-font-semibold);
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: var(--fkt-space-sm);

		&__footer {
			display: flex;
			align-items: center;
			justify-content: space-between;

			&-message {
				font-size: var(--fkt-font-size-sm);
				color: var(--fkt-color-neutral-600);

				&--valid {
					color: var(--fkt-color-success);
				}
			}
		}

		&__actions {
			display: flex;
			gap: var(--fkt-space-xs);
		}
	}

	&__success-message {
		margin-top: var(--fkt-space-md);
		padding: var(--fkt-space-md);
		background-color: var(--fkt-color-success-opacity-10);
		border: solid 1px var(--fkt-color-success-opacity-30);
		border-radius: var(--fkt-radius-md);

		h4 {
			font-weight: var(--fkt-font-medium);
			color: var(--fkt-color-success);
		}

		pre {
			margin-top: var(--fkt-space-xs);
			font-size: var(--fkt-font-size-sm);
			color: var(--fkt-color-neutral-700);
		}
	}
}
