:host {
	display: flex;
	flex-direction: column;
	height: fit-content;
    border-bottom: solid 1px var(--fkt-color-neutral-200) !important;

    fkt-playground-panel {
        --fkt-input-vertical-padding: var(--fkt-space-xs);
        --fkt-input-horizontal-padding: var(--fkt-space-sm);
        --fkt-input-font-size: var(--fkt-font-size-sm);
        --fkt-input-border-radius: var(--fkt-radius-md);

        --fkt-select-vertical-padding: var(--fkt-space-xs);
        --fkt-select-horizontal-padding: var(--fkt-space-sm);
        --fkt-select-font-size: var(--fkt-font-size-sm);
        --fkt-select-border-radius: var(--fkt-radius-md);

        --fkt-controls-table-background: var(--fkt-color-card-background);
        --fkt-controls-table-text-color: var(--fkt-color-neutral-700);
        --fkt-controls-table-border-color: var(--fkt-color-neutral-300);
        --fkt-controls-table-component-text-color: var(--fkt-color-primary);
        --fkt-controls-table-component-bg: rgba(60, 67, 77, 0.08);
        --fkt-controls-table-component-active-bg: var(--fkt-color-primary);
        --fkt-controls-table-component-active-text-color: var(--fkt-color-neutral-50);
        --fkt-controls-table-component-hover-bg: var(--fkt-color-neutral-300);
        --fkt-controls-table-category-bg: var(--fkt-color-neutral-200);
        --fkt-controls-table-category-text-color: var(--fkt-color-neutral-700);
        --fkt-controls-table-numeric-control-bg: var(--fkt-color-neutral-300);
        --fkt-controls-table-numeric-control-color: var(--fkt-color-neutral-500);
        --fkt-controls-table-numeric-control-hover-bg: var(--fkt-color-neutral-400);

        --fkt-controls-tabs-background: var(--fkt-color-card-background);
        --fkt-controls-tabs-border-top-color: var(--fkt-color-neutral-300);
        --fkt-controls-tabs-border-bottom-color: var(--fkt-color-neutral-300);
        --fkt-controls-tabs-text-color: var(--fkt-color-neutral-600);
        --fkt-controls-tabs-action-hover-color: var(--fkt-color-link-opacity-20);
        --fkt-controls-tabs-action-text-color: var(--fkt-color-link);
	}
}

.fkt-playground-component-container {
    color: var(--fkt-color-neutral-950);
    padding: 1rem;

    &.no-padding {
        padding: 0;
    }

    .variants-container {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;

        &.vertical {
            flex-direction: column;
        }

        .variant {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            overflow-y: auto;

            &.fill {
                &::ng-deep {
                    & > * {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            strong {
                white-space: nowrap;
                color: var(--fkt-color-neutral-800);
            }
        }
    }
}

.canvas-block {
	display: flex;
	flex-direction: column;
	border: solid 1px var(--fkt-color-neutral-300);
	margin: var(--fkt-space-md) 0;
	border-radius: 12px;
	overflow: hidden;
    background: var(--fkt-color-card-background);

	.canvas-block__canvas > * {
		margin: 0 !important;
		box-shadow: none !important;
		border: none !important;
		border-bottom: solid 1px var(--fkt-color-neutral-200) !important;
		min-height: 200px;
	}

	.canvas-block__content {
		padding: 0;
		display: flex;
		flex-direction: column;

		& > * {
			margin: 0;
			border: none !important;
		}
	}

	.canvas-block__canvas--fixed-size {
		[data-story-block="true"] {
			height: 600px;
			overflow-y: scroll;

			& > * {
				height: 100%;
				display: block;
			}
		}
	}

	.canvas-block__tabs {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height: 50px;

		button {
			background-color: var(--fkt-color-modal-background) !important;
			font-weight: var(--fkt-font-semibold);
			width: 100%;
			height: 100%;
			color: var(--fkt-color-neutral-900) !important;
			padding: .75rem;
			font-size: .9rem !important;
			transition: background-color 150ms;
			border: none;
			border-right: solid 1px var(--fkt-color-neutral-300);
			position: relative !important;
			cursor: pointer !important;
			border-bottom: solid 1px var(--fkt-color-neutral-300);
			display: flex;
			justify-content: center;
			gap: var(--fkt-space-xs);
			align-items: center;

			&:last-child {
				border-right: none;
			}


			&:hover {
				background-color: var(--fkt-color-neutral-200) !important;
			}

			&.active {
				border-bottom: solid 2px var(--fkt-color-accent);
			}
		}
	}
}

