:host {
    width: 700px;
    display: block;
    padding: 1rem;

    --fkt-table-header-actions-width: 3rem;
    --fkt-table-header-cell-padding: var(--fkt-space-xs);
}

.table {
    max-height: 500px;
    overflow-y: auto;
}
