h3, p {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: column;
	gap: var(--fkt-space-md);

	h3 {
		font-size: var(--fkt-font-size-lg);
		font-weight: var(--fkt-font-semibold);
	}

	.container__form {
		display: flex;
		flex-direction: column;
		gap: var(--fkt-space-xs);

		& > div {
			display: flex;
			gap: var(--fkt-space-xs);
		}
	}

	&__interactive-button {
		padding-bottom: var(--fkt-space-md);
		border-bottom: solid 1px var(--fkt-color-neutral-200);
		display: flex;
		justify-content: center;

		& > div {
			width: 200px;
			height: 200px;
			background-color: var(--fkt-color-neutral-600);
			color: var(--fkt-color-neutral-100);
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: var(--fkt-font-size-lg);
			text-align: center;
			font-weight: var(--fkt-font-semibold);
			border-radius: var(--fkt-radius-lg);
		}
	}
}

