.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--fkt-space-md);

	&__status {
		display: flex;
		align-items: center;
		gap: var(--fkt-space-md);

		span {
			font-size: var(--fkt-font-size-sm);
			color: var(--fkt-color-neutral-600);
		}
	}

	&__message {
		font-size: var(--fkt-font-size-sm);
		color: var(--fkt-color-neutral-600);
	}

}
