:host ::ng-deep {
	.table-product-no-stock {
		background-color: var(--fkt-color-danger-opacity-10);

		&:hover {
			background-color: var(--fkt-color-danger-opacity-20) !important;
		}
	}

	.table-product-discontinued {
		background-color: var(--fkt-color-neutral-100);
		opacity: 60%;
		filter: grayscale(1);
		cursor: pointer;
		pointer-events: none;

		&:hover {
			background-color: var(--fkt-color-neutral-100) !important;
		}
	}
}

fkt-table {
	background-color: var(--fkt-color-neutral-100);
}
