:host {
    position: relative;
    display: block;
    overflow: auto;
    border-radius: var(--fkt-radius-xl);
    transition: var(--fkt-transition-base);

    &:hover,
    &:focus-within {
        .show-on-hover {
            opacity: 1;
        }
    }
}

.show-on-hover {
    opacity: 0;
    transition: var(--fkt-transition-base);
}

.code {
    position: relative;
    height: 600px;
    max-height: 300px;
    overflow: auto;
    transition: var(--fkt-transition-base);

    &.expanded {
        max-height: 600px;
    }
}

app-code-highlight {
    box-sizing: border-box;
    height: 100%;
}

.actions {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    height: fit-content;
    gap: var(--fkt-space-md);
    margin: var(--fkt-space-md);
    transition: var(--fkt-transition-slow);
}

.languages {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    height: fit-content;

    button[fktButton] {
        --fkt-button-border-radius: 0;

        height: 36px;

        &:first-child {
            --fkt-button-border-radius: var(--fkt-radius-md) 0 0 var(--fkt-radius-md);
        }

        &:last-child {
            --fkt-button-border-radius: 0 var(--fkt-radius-md) var(--fkt-radius-md) 0;
        }
    }
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--fkt-space-md);
}

