:host {
	padding: 3rem 20px;
	display: flex;
	justify-content: center;
	max-height: calc(100vh - 50px);
	overflow-y: auto;
	box-sizing: border-box;

}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;

	.placeholder {
		flex: .2;
	}

	fkt-table-of-contents {
		flex: .2;
	}

	.docs {
		max-width: 1200px;
		flex: 1;
	}
}

fkt-table-of-contents {
	position: sticky;
	top: 0;
	max-height: 80vh;
	overflow-y: auto;
	border-radius: var(--fkt-radius-md);
	margin-left: var(--fkt-space-5xl);
	min-width: 240px;
	box-sizing: border-box;
	height: fit-content;
}

@media (max-width: 1200px) {
	.table-of-contents, .placeholder {
		display: none;
	}
}

