pre {
	margin: 0;
	border-radius: 0;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    width: 100%;
    min-width: fit-content;

    &.no-border-radius {
        border-radius: 0;
    }
}
