pre {
	margin: 0;
	border-radius: 0;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    width: 100%;
    min-width: fit-content;
}

.bots-only {
    position: absolute !important;
    left: -9999px !important;
    top: auto !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    opacity: 0.01 !important;
}
