* {
	box-sizing: border-box;
}

p {
	margin: 0;
}

.container {
	display: flex;
	align-items: center;
	gap: var(--fkt-space-sm);

	&__item {
		text-align: center;

		p {
			margin-top: var(--fkt-space-xs);
			font-size: var(--fkt-font-size-sm);
			color: var(--fkt-color-neutral-600);
		}
	}
}
