* {
	box-sizing: border-box;
}

.multi-group-side-menu-example {
	height: 100%;
	width: 100%;
	display: flex;

	&__content {
		padding: 24px;
		background-color: var(--fkt-color-neutral-background);
		width: 100%;
		height: 100%;
	}

	&__title {
		margin: 0 0 16px 0;
		font-size: 24px;
		font-weight: 600;
	}

	&__description {
		margin: 0;
		color: var(--fkt-color-neutral-600);
		line-height: 1.6;
	}
}
