.container {
	display: block;

	&__actions {
		display: flex;
		gap: var(--fkt-space-xs);
		padding: var(--fkt-space-md);
		background-color: var(--fkt-color-neutral-100);
		border-radius: var(--fkt-radius-lg);
		margin-bottom: var(--fkt-space-md);
	}
}

:host ::ng-deep {
	.table-user-active {
		background-color: var(--fkt-color-danger-opacity-10);

		&:hover {
			background-color: var(--fkt-color-danger-opacity-20) !important;
		}
	}

	.table-user-pending {
		background-color: var(--fkt-color-accent-opacity-10);

		&:hover {
			background-color: var(--fkt-color-accent-opacity-20) !important;
		}
	}

	.table-user-inactive {
		background-color: var(--fkt-color-neutral-100);
		opacity: 60%;
		filter: grayscale(1);
		cursor: pointer;
		pointer-events: none;

		&:hover {
			background-color: var(--fkt-color-disabled) !important;
		}
	}
}

fkt-table {
	background-color: var(--fkt-color-neutral-100);
}
