* {
	box-sizing: border-box;
}

:host {
	display: block;
	height: 100%;
}

.admin-page {
	padding: 40px 24px;
	height: 100%;
	background: var(--fkt-color-neutral-background);
}

.admin-page__title {
	font-size: 2.2rem;
	margin-bottom: 18px;
	font-weight: 700;
	color: var(--fkt-color-neutral-800);
}

.admin-page__content {
	background: var(--fkt-color-modal-background);
	border-radius: 10px;
	box-shadow: var(--fkt-shadow-md);
	padding: 32px;
}

.admin-settings__form {
	display: flex;
	flex-direction: column;
	gap: .5rem;

	fkt-button {
		margin-top: 1rem;
	}
}
