:host {
	display: flex;
	flex-direction: column;
	gap: var(--fkt-space-md);
}

.info {
	padding: var(--fkt-space-md);
	background-color: var(--fkt-color-info-opacity-20);
	color: var(--fkt-color-info);
	border-radius: var(--fkt-radius-md);
	font-size: var(--fkt-font-size-sm);

	div {
		margin-top: var(--fkt-space-xs);
		font-weight: var(--fkt-font-semibold);
	}
}
