:host {
	display: flex;
	justify-content: center;
	width: 100%;
	background: var(--fkt-color-neutral-background);
	color: var(--fkt-color-neutral-950);
	padding: 1rem;
	box-sizing: border-box;
}

.gallery {
	width: 1344px;
	display: flex;
	flex-direction: column;
	gap: var(--fkt-space-md);
	align-items: center;

	&__item {
		display: flex;
		flex-wrap: wrap;
		gap: var(--fkt-space-md);
		align-items: center;
	}
}
