:host {
	display: flex;
	justify-content: center;
	width: 100%;
	color: var(--fkt-color-neutral-950);
	padding: 1rem;
	box-sizing: border-box;
}

.gallery {
	width: 1344px;
	display: flex;
	flex-direction: column;
	gap: var(--fkt-space-md);

	&__item {
        width: 100%;
        padding: .5rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(112px, 1fr));
        grid-template-rows: auto 1fr;
		gap: var(--fkt-space-md);
        height: 600px;
        overflow-y: auto;
		align-items: flex-start;
	}

    fkt-field {
        width: 100%;
    }
}
