.story-renderer__heading {
	a {
		margin-left: -24px !important;
	}
}
.fkt-heading {
	display: flex;
	gap: .5rem;
	align-items: center;
	cursor: pointer;

	.fkt-heading__link {
		height: fit-content;
		font-size: 18px;
		margin-left: -25px;
		opacity: 0;
		transition: .3s ease;

		svg {
			width: 18px;
			height: 18px;
		}
	}

	&:hover {
		.fkt-heading__link {
			opacity: 1;
		}
	}
}

/*h1 {*/
/*	font-size: 32px;*/
/*}*/
/*h2 {*/
/*	font-size: 24px;*/
/*}*/

/*h3 {*/
/*	font-size: 20px;*/
/*}*/
