* {
	box-sizing: border-box;
	color: var(--fkt-color-neutral-950);
}

h2, h4, p {
	margin: 0;
}

ul {
	padding: 0;
	list-style: none;
}

:host {
	display: block;
	height: 100%;
	width: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;

	&__header {
		display: flex;
		align-items: center;
		margin-bottom: var(--fkt-space-md);
		gap: var(--fkt-space-xs);

		fkt-icon {
			color: var(--fkt-color-info);
		}

		h2 {
			font-size: var(--fkt-font-size-xl);
			font-weight: var(--fkt-font-semibold);
		}
	}

	&__message {
		margin-bottom: var(--fkt-space-xl);

		p {
			color: var(--fkt-color-neutral-600);
			line-height: 1.625;
		}
	}

	&__details {
		background-color: var(--fkt-color-info-opacity-10);
		border-radius: var(--fkt-radius-lg);
		margin-bottom: var(--fkt-space-xl);
		padding: var(--fkt-space-md);

		h4 {
			font-weight: var(--fkt-font-medium);
			margin-bottom: var(--fkt-space-xs);
		}

		ul {
			color: var(--fkt-color-neutral-600);
			font-size: var(--fkt-font-size-sm);
			display: flex;
			flex-direction: column;
			gap: var(--fkt-space-xs);
		}
	}

	fkt-buttons-list {
		width: 100%;
	}
}
